*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*  Primary Colors  */
  --light-red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /*  Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  /*  Gradients  */
  --g-light-slate-blue: hsla(252, 100%, 67%, 0.45);
  --g-light-royal-blue: hsla(241, 81%, 54%, 1);
  --g-violet-blue: hsla(256, 72%, 46%, 0);
  --gc-persian-blue: hsla(241, 72%, 46%, 1);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
}

p {
  font-size: 18px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr 3fr);
  background-color: var(--white);
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    max-width: 74rem;
    height: 51.4rem;
    box-shadow: 0 3px 30px 10px hsla(241, 100%, 89%, 0.3);
    border-radius: 35px;
  }
}

.result-container {
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    to bottom,
    var(--g-light-slate-blue) 0%,
    var(--g-light-royal-blue) 70%,
    var(--g-light-royal-blue) 100%
  );
  background-color: var(--g-light-royal-blue);
  height: 100%;
  width: 100%;
  color: var(--light-lavender);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
@media (min-width: 768px) {
  .result-container {
    grid-row: unset;
    grid-column: 1/2;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
  }
}

.result-title {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 2.5rem 0;
}

@media (min-width: 768px) {
  .result-title {
    font-size: 2.4rem;
    margin: 4rem 0;
  }
}

.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  background: linear-gradient(
    to top,
    var(--g-violet-blue),
    var(--gc-persian-blue)
  );
}

@media (min-width: 768px) {
  .score-container {
    width: 20rem;
    height: 20rem;
  }
}

.score-container .score-points {
  font-size: 5.6rem;
  color: var(--white);
}

@media (min-width: 768px) {
  .score-container .score-points {
    font-size: 7rem;
  }

  .score-container .score-max {
    color: hsla(241, 100%, 89%, 0.6);
  }
}

.result-grade {
  margin-top: 2.1rem;
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  color: var(--white);
  font-weight: 500;
}

@media (min-width: 768px) {
  .result-grade {
    margin-top: 3.4rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 700;
  }
}

.result-txt {
  font-weight: 500;
  width: 28rem;
  font-size: 16px;
  margin-bottom: 4.3rem;
}

@media (min-width: 768px) {
  .result-txt {
    font-size: 18px;
    width: 26rem;
  }
}

.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  padding: 2.5rem;
}

@media (min-width: 768px) {
  .summary-container {
    justify-content: space-around;
    padding: 4rem;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
  }
}

.summary-container h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  font-weight: 800;
  color: var(--dark-gray-blue);
}

@media (min-width: 768px) {
  .summary-container h2 {
    margin-bottom: 2.5rem;
    font-size: 2.3rem;
  }
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.8rem 0;
  height: 5.5rem;
  width: 100%;
  border-radius: 8px;
  font-weight: 500;
  background-color: red;
}

@media (min-width: 768px) {
  .category {
    margin: 0.5 0;
  }
}

.category-title {
  display: flex;
  align-items: center;
}

.category img,
.category h3 {
  margin-left: 1.5rem;
}

.category h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

@media (min-width: 768px) {
  .category h3 {
    font-size: 1.8rem;
    font-weight: 700;
  }
}

.category p {
  margin-right: 2rem;
  font-weight: 800;
  color: hsla(224, 30%, 27%, 0.6);
}

.category p span {
  color: var(--dark-gray-blue);
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.05);
  color: var(--light-red);
}

.memory {
  background-color: hsla(39, 100%, 56%, 0.05);
  color: var(--orange-yellow);
}

.verbal {
  background-color: hsla(166, 100%, 37%, 0.05);
  color: var(--green-teal);
}

.visual {
  color: var(--cobalt-blue);
  background-color: hsla(234, 85%, 45%, 0.05);
}

.btn-continue {
  text-decoration: none;
  padding: 2rem 0;
  margin-top: 1.3rem;
  border-radius: 5rem;
  text-align: center;
  font-size: 1.8rem;
  color: var(--white);
  background-color: var(--dark-gray-blue);
}

.attribution {
  visibility: hidden;
}

@media (min-width: 768px) {
  .attribution {
    margin-top: 2rem;
    font-size: 11px;
    text-align: center;
    visibility: visible;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
